/build/
*.suo
*.user
_ReSharper.*/
*.sdf
bin/
obj/
Debug/
Release/
*.opensdf
*.tlog
*.log
TestResult.xml
*.VisualState.xml
Version.cs
Version.h
Version.cpp
*.obj
*.pdb
*.exe
*.ilk
*.pdb
.vscode/**
ML/**
*.class
*.obj
C++/.vscode/**
*.dSYM
C++/Main.dSYM/**
Main
Main.java
Main.class
web/firebase/**
.Ds_Store
.Ds_Store/**
C++/.DS_Store/**
C++/.DS_Store
.gitignore
C++/Main
**/*.lock